/*HEADER*/
body{
	background: #000044;
}
#header{
	padding-top: 80px;
	padding-bottom: 40px;
	text-transform: uppercase;
}
#header h1{
	color: #FF0033;
}
/*content*/
.panel{
	width: 80%;

}
.form-group{
	padding-top: 30px;
}
.input-group{
	padding-top: 20px;
	padding-bottom: 30px;
}
.btnDangNhap{
	
}
.ChuaNhapValue{
	color:red;
}

